.header-logo{
    background-color:crimson;
    color:white;
    font-size:40px;
    padding:30px;
    font-family:serif;
}
.class1 {
    position: relative;
    margin: 50px;
    width: 500px;
    height: 500px;
    background-color: gray;
  }
.class2 {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 250px;
    height: 100px;
  }